<launch>
  <!-- traffic_light detection -->
  <node pkg="turtlebot3_auto_detect" type="detect_traffic_light.py" name="detect_traffic_light" output="screen">
    <remap from="/detect/image_input" to="/camera/image_compensated" />
    <remap from="/detect/image_input/compressed" to="/camera/image_compensated/compressed" />
  </node>
</launch>