<launch>
  <!-- level crossing detection -->
  <node pkg="turtlebot3_auto_detect" type="detect_level.py" name="detect_level" output="screen">
    <remap from="/detect/image_input" to="/camera/image_compensated" />
    <remap from="/detect/image_input/compressed" to="/camera/image_compensated/compressed" />
    <remap from="/detect/image_output" to="/detect/image_level" />
    <remap from="/detect/image_output/compressed" to="/detect/image_level/compressed" />
  </node>
</launch>