<launch>
  <!-- level cro lot detection -->
  <node pkg="turtlebot3_auto_detect" type="detect_level.py" name="detect_level" output="screen">
    <remap from="/detect/image_input" to="/camera/image_compensated" />
    <remap from="/detect/image_input/compressed" to="/camera/image_compensated/compressed" />
  </node>
</launch>