<launch>
  <!-- launch turtlebot3_auto_camera_pi.launch in the raspberry pi -->

  <!-- image transport from compressed to raw -->
  <node pkg="image_transport" type="republish" name="republish" args="compressed in:=camera/image raw out:=camera/image" />

  <!-- image rectification -->
  <!-- never mind of XML error -->
  <!-- TODO: image sync failed error -->
  <node ns="camera" pkg="image_proc" type="image_proc" name="image_proc" args="_approximate_sync:=true" output="screen">
    <remap from="image_raw" to="image" />
    <!-- testing queue_size : wiki says, if the image has long way to go elsewhere, this value should be increased -->
    <param name="queue_size" value="20"/>
  </node>
</launch>